<footer>
    <div class="f-info">
        <div><b>&copy; Wanderlust Private Limited</b></div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>&nbsp;
            <a href="terms">Terms</a>
        </div>
    </div>
</footer>