.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe4244;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;/*if we want our styling to overwrite bootstrap styling which is previously set so we use !important which overwrites the bootstrap styling*/
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links{
    width: 100%;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* styling for cards */

.card{
    border: none;
    margin-bottom: 2rem;
    padding: 0 !important;
    margin: 1rem !important;
    border-radius: 1rem !important;
    transition-duration: 100;
}
.row{
    margin : 0.5rem !important;
    display: flex;
    padding: 1rem;
    text-decoration: none;
}

.row a{
    text-decoration: none;
    color: black;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important; 
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.card :hover{
    opacity: 0.7;
}

/*new page*/
.add-btn{
    background-color: #fe4244 !important;/*not important is written for rmoving the previously applied bootstrap styling*/
    border: none !important;
}

/*edit page*/
.edit-btn{
   background-color: #fe4244 !important;/*not important is written for rmoving the previously applied bootstrap styling*/
    border: none !important; 
}
/*show page*/
.show-img{
    height: 40vh;
    opacity: none;
}